<html>

<head>
    <link rel="stylesheet" href="styles/login.css" />
</head>

<body>
    <div>
        <form method="post" action="/login">
            <input required placeholder="username" name="username" />
            <input required placeholder="password" name="password" type="password" />
            <input type="submit" value="lock" />
        </form>
        <a href="/signup">
            <button>
                signup
            </button>
        </a>
    </div>
    <% if(error){ %>
        <div style="background: red;padding: 10px">
            <%=error %>
        </div>
        <% } %>
</body>

</html>